html {
  .section-6 {
    .container {
      padding-bottom: 50px;
      h2 {
        color: $color-08;
        font-size: 42px;
        padding: 30px 0;
      }
      .row {
        .my-col {
          padding-left: 0;
          padding-right: 0;
          &:hover {
            transform: scale(1.3);
          }
          .head {
            position: relative;
            h3 {
              color: $color-02;
              font-size: 32px;
            }
            h2 {
              color: $color-02;
              font-size: 36px;
            }
            // .rounded-lines {
            //   position: relative;
            //   .long-line {
            //     position: absolute;
            //     background-color: rgb(3, 118, 147);
            //     height: 3px;
            //     width: 50px;
            //     border-radius: 30px;
            //   }
            //   .small-line {
            //     position: absolute;
            //     background-color: rgb(3, 118, 147);
            //     height: 3px;
            //     width: 5px;
            //     border-radius: 30px;
            //   }
            // }
          }
          .external-head {
            background: url('../img/section-6/public.png') no-repeat center center;
            background-size: cover;
            // .green-layer {
            //   background-color: $color-08;
            //   opacity: 70%;
            //   position: absolute;
            //   top: 0;
            //   left: 0;
            //   width: 100%;
            //   height: 100%;
            // }
          }
          .interactive-head {
            background: url('../img/section-6/inter-bg.png') no-repeat center center;
            background-size: cover;
          }
          .internal-head {
            background: url('../img/section-6/internal-bg.png') no-repeat center center;
            background-size: cover;
          }
          .body {
            img {
              height: 50px;
              padding-top: 10px;
            }
            p {
              padding: 15px 30px;
              font-size: 9px;
            }
            .btn-primary {
              background-color: $color-09;
              border-color: $color-09;
              border-radius: 25px;
              padding: 2px 20px;
              margin-bottom: 20px;
            }
            .my-btn-red {
              background: $color-10;
              border-color: $color-10;
            }
            .my-btn-yellow {
              background: $color-11;
              border-color: $color-11;
            }
          }
        }
      }
    }
  }
}
