
//COLORS//COLORS//COLORS//

//section-1//
$color-03: rgb(4, 53, 62);
$color-04: rgb(232, 233, 234);
$color-05: rgba(3, 118, 147, 0.8);

//section-2//

$color-01: rgb(3, 118, 147);


//section-3//

$color-02: rgb(255, 255, 255);
$color-06: rgb(241, 180, 81);
$color-07: rgb(1, 1, 1);

//section-6//

$color-08: rgb(3, 118, 147);
$color-09: rgb(76, 165, 154);
$color-10: rgb(242, 98, 80);
$color-11: rgb(240, 167, 101);
